<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vehicle">
            <h2><span jhiTranslate="cvgsApp.cmsVehicle.detail.title">Vehicle</span> {{vehicle.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cvgsApp.cmsVehicle.vehicleId">Vehicle Id</span></dt>
                <dd>
                    <span>{{vehicle.vehicleId}}</span>
                </dd>
                <dt><span jhiTranslate="cvgsApp.cmsVehicle.vehicleRegNo">Vehicle Reg No</span></dt>
                <dd>
                    <span>{{vehicle.vehicleRegNo}}</span>
                </dd>
                <dt><span jhiTranslate="cvgsApp.cmsVehicle.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="vehicle.owner">
                        <a [routerLink]="['/customer', vehicle.owner?.id, 'view']">{{vehicle.owner?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vehicle', vehicle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
